.DS_Store
*.retry
roles/cert/files/bin/*
!roles/cert/files/bin/README

roles/cert/files/certs/*
!roles/cert/files/certs/README

roles/cert/files/tls/*
!roles/cert/files/tls/README

roles/etcd/files/bin/*
!roles/etcd/files/bin/README

roles/calico/files/bin/*
!roles/calico/files/bin/README

roles/k8s-master/files/bin/*
!roles/k8s-master/files/bin/README

roles/k8s-node/files/bin/*
!roles/k8s-node/files/bin/README

roles/es/files/dir/*
!roles/es/files/dir/README

roles/helm/files/bin/*
!roles/helm/files/bin/README
