[Unit]
Description=Etcd Server
After=network.target
After=network-online.target
Wants=network-online.target
Documentation=https://github.com/coreos

[Service]
Type=notify
WorkingDirectory=/var/lib/etcd/
ExecStart={{ BIN_DIR }}/etcd \
  --name={{ inventory_hostname }} \
  --cert-file={{ ETCD_CA_DIR }}/etcd.pem \
  --key-file={{ ETCD_CA_DIR }}/etcd-key.pem \
  --peer-cert-file={{ ETCD_CA_DIR }}/etcd.pem \
  --peer-key-file={{ ETCD_CA_DIR }}/etcd-key.pem \
  --trusted-ca-file={{ CA_DIR }}/ca.pem \
  --peer-trusted-ca-file={{ CA_DIR }}/ca.pem \
  --initial-advertise-peer-urls=https://{{ ansible_default_ipv4.address }}:2380 \
  --listen-peer-urls=https://{{ ansible_default_ipv4.address }}:2380 \
  --listen-client-urls=https://{{ ansible_default_ipv4.address }}:2379,http://127.0.0.1:2379 \
  --advertise-client-urls=https://{{ ansible_default_ipv4.address }}:2379 \
  --initial-cluster-token=etcd-cluster-0 \
  --initial-cluster={{ ETCD_NODES }} \
  --initial-cluster-state=new \
  --data-dir=/var/lib/etcd
Restart=on-failure
RestartSec=5
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
