global_defs {
    router_id HAPROXY
}

vrrp_script check-haproxy {
    script "killall -0 haproxy"
    interval 5
    weight -60
}

vrrp_instance VI-kube-master {
    state BACKUP
    priority {{ 119 | random(61, 1) }}
    unicast_src_ip {{ ansible_default_ipv4.address }}
    unicast_peer {
{% for h in groups['lb'] %}
    {% if hostvars[h]['ansible_host'] != ansible_default_ipv4.address %}
        {{ hostvars[h]['ansible_host'] }}
    {% endif %}
{% endfor %}
    }
    dont_track_primary
    interface {{ K8S_INTERFACE }}
    virtual_router_id {{ ROUTER_ID }} 
    advert_int 3
    track_script {
        check-haproxy
    }
    virtual_ipaddress {
        {{ MASTER_IP }}
    }
}
