[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
After=docker.service
Requires=docker.service

[Service]
WorkingDirectory={{ kubelet_lib_dir }}
ExecStart={{ bin_dir }}kubelet \
  --address={{ ansible_default_ipv4.address }} \
  --hostname-override={{ ansible_hostname }} \
  --pod-infra-container-image=googlecontainer/pause-amd64:3.0 \
  --pod-manifest-path={{ k8s_manifests_dir }} \
  --bootstrap-kubeconfig={{ k8s_dir }}bootstrap.kubeconfig \
  --kubeconfig={{ k8s_dir }}bootstrap.kubeconfig \
  --cert-dir={{ ca_dir }} \
  --network-plugin=cni \
  --cni-conf-dir={{ cni_dir }} \
  --cni-bin-dir={{ bin_dir }} \
  --cluster-dns={{ CLUSTER_DNS_SVC_IP }} \
  --cluster-domain={{ CLUSTER_DNS_DOMAIN }} \
  --hairpin-mode hairpin-veth \
  --allow-privileged=true \
  --fail-swap-on=false \
  --node-labels=node-role.kubernetes.io/node=true \
  --logtostderr=true \
  --v=2
# \
#  --log-dir=/var/log/k8s/ \
#  --logtostderr=false

Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
